.navigation .thumbs {
  width: 20em;
  float: left;
}

.gallery {
  float: left;
  margin-left: 2em;
}

.thumbs li {
  float: left;
  display: block;
  padding: 0.2em !important;
  border: 1px solid #c1ced6;
  margin: 0.4em;
  background-color: white;
}

.clipout {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 0px;
  left: 0px;
}

.clipin {
  position: absolute;
  clip: rect(32px 96px 96px 32px);
  top: -32px;
  left: -32px;
}

.gallery .controls {
  margin: 0.5em 0;
}

.gallery .controls a {
  text-decoration: none;
}

.gallery .ss-controls {
  float: left;
}

.gallery .nav-controls {
  text-align: right;
}

.gallery .nav-controls .prev {
  margin-right: 1.5em;
}

.gallery-footer {
  clear: both;
  height: 1em;
}
