.navigation .thumbs {
  width: 20em;
  float: left;
}

.gallery {
  float: left;
  margin-left: 2em;
}

ul.thumbs,
ul.thumbs li {
  list-style: none;
}

li a.thumb {
  float: left;
  display: block;
  margin: 0.4em;
}

li a.thumb img {
  padding: 0.2em !important;
  border: 1px solid #c1ced6;
  background-color: white;
}

.gallery .controls {
  margin: 0.5em 0;
}

.gallery .controls a {
  text-decoration: none;
}

.gallery .ss-controls {
  float: left;
}

.gallery .nav-controls {
  text-align: right;
}

.gallery .nav-controls .prev {
  margin-right: 1.5em;
}

.gallery-footer {
  clear: both;
  height: 1em;
}
